//
// User Profile 2
//

.app-widget {
    &.app-widget--user-profile-2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;

        .app-widget__head {
            display: flex;
            align-items: center;
            margin-top: -45px;

            .app-widget__media {
                .app-widget__img {
                    max-width: 90px;

                    @include app-rounded {
                        border-radius: 50%;
                    }
                }

                .app-widget__pic {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 90px;
                    height: 90px;
                    font-size: 1.5rem;

                    @include app-rounded {
                        border-radius: 50%;
                    }

                    @each $name, $color in $app-state-colors {
                        &.app-widget__pic--#{$name} {
                            background: rgba(app-get($color, base), 0.1);
                        }
                    }
                }
            }

            .app-widget__info {
                padding-left: 1rem;

                .app-widget__username {
                    font-size: 1.4rem;
                    color: app-base-color(label, 4);
                    font-weight: 500;

                    &:hover {
                        color: app-brand-color();
                        transition: color 0.3s ease;
                    }
                }

                .app-widget__titel {
                    font-size: 1.4rem;
                    color: app-base-color(label, 4);
                    font-weight: 500;

                    &:hover {
                        color: app-brand-color();
                        transition: color 0.3s ease;
                    }
                }

                .app-widget__desc {
                    display: block;
                    font-weight: 500;
                    font-size: 1.1rem;
                    padding-top: 0.4rem;
                    color: app-base-color(label, 2);
                }
            }
        }

        .app-widget__body {
            flex: 1;

            .app-widget__section {
                padding: 1rem 0 1rem 0;
                color: app-base-color(label, 3);
                font-weight: 400;

                a {
                    padding-right: 0.3rem;
                }
            }

            .app-widget__content {
                display: flex;

                .app-widget__stats {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    padding-bottom: 1.7rem;

                    .app-widget__icon {
                        i {
                            font-size: 2.7rem;
                            color: app-base-color(label, 1);
                            font-weight: 400;
                        }
                    }

                    .app-widget__details {
                        padding-left: 1rem;

                        .app-widget__title {
                            display: block;
                            color: app-base-color(label, 3);
                            font-weight: 500;
                            font-size: 0.95rem;
                        }

                        .app-widget__value {
                            display: block;
                            color: app-base-color(label, 4);
                            font-weight: 600;
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .app-widget__item {
                padding: 0.7rem 0;

                .app-widget__contact {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 0.5rem;

                    .app-widget__label {
                        color: app-base-color(label, 4);
                        font-weight: 600;
                    }

                    .app-widget__data {
                        color: app-base-color(label, 2);
                        font-weight: 400;
                    }

                    a.app-widget__data:hover {
                        color: app-brand-color();
                        transition: color 0.3s ease;
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }

        .app-widget__footer {
            margin-top: 2rem;

            .btn {
                font-size: 1rem;
                font-weight: 600;
                padding: 1.1rem 0;
                width: 100%;
            }
        }
    }
}

@include app-mobile {
    .app-widget {
        &.app-widget--user-profile-2 {
            .app-widget__head {
                margin-top: -30px;

                .app-widget__media {
                    .app-widget__img {
                        max-width: 60px;
                    }

                    .app-widget__pic {
                        max-width: 60px;
                        max-height: 60px;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
