//
// Widget 1
//

.app-widget1 {
    padding: app-get($app-portlet, space, desktop);

    &.app-widget1--fit {
        padding: 0;
    }

    &.app-widget1--paddingless {
        padding: 0;
    }

    .app-widget1__item {
        padding: 1.1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:last-child {
            padding-bottom: 0;
        }

        &:first-child {
            padding-top: 0;
        }

        .app-widget1__info {
            .app-widget1__title {
                font-size: 1.1rem;
                font-weight: 500;
                color: app-base-color(label, 3);
            }

            .app-widget1__desc {
                font-size: 1rem;
                font-weight: normal;
                color: app-base-color(label, 2);
            }
        }

        .app-widget1__number {
            font-size: 1.4rem;
            font-weight: 600;
            color: app-base-color(label, 2);
        }

        &:last-child {
            border-bottom: 0;
        }

        border-bottom: 0.07rem dashed app-base-color(grey, 2);
    }
}

@include app-tablet-and-mobile {
    .app-widget1 {
        padding: app-get($app-portlet, space, mobile);
    }
}
