//
// Scrolltop
//

// Base
.app-scrolltop {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    background: app-brand-color();
    box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.2);
    opacity: 0;
    @include app-transition();

    @include app-rounded {
        border-radius: $app-border-radius;
    }

    svg {
        height: 20px;
        width: 20px;
    }

    > i {
        font-size: 1.3rem;
        color: app-brand-color(inverse);
    }

    @include app-svg-icon-color(app-brand-color(inverse));

    &:hover {
        > i {
            color: app-brand-color(inverse);
        }
    }

    .app-scrolltop--on & {
        opacity: 0.3;
        animation: app-scrolltop-show-animation 0.4s ease-out 1;
        display: flex;

        &:hover {
            @include app-transition();
            opacity: 1;
        }
    }

    @include app-tablet-and-mobile {
        bottom: 30px;
        right: 15px;
    }
}

// Animations
@keyframes app-scrolltop-show-animation {
    from {
        margin-bottom: -15px;
    }
    to {
        margin-bottom: 0;
    }
}
