<ng-container *ngIf="media$ | async as m;else noMedia">

  <app-media-item imageHeight="20vh" [media]="m" mode="view">
  </app-media-item>

  <div class="media-upload mt-3">
    <button class="btn btn-info btn-link" type="button" (click)="selectMedia()">
      Auswählen
    </button>
    <button class="btn btn-warning btn-link" type="button" (click)="removeMedia()">
      Löschen
    </button>
  </div>
</ng-container>

<ng-template #noMedia>
  <div class="text-center">
    <button class="btn btn-primary btn-link" type="button" (click)="selectMedia()">Auswählen</button>
  </div>
</ng-template>
