<div class="app-login__body">

  <div class="app-login__form">
    <div class="app-login__title">
      <h3>Passwort vergessen</h3>
    </div>

    <app-auth-notice></app-auth-notice>

    <form class="app-form" [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group">
        <mat-form-field>
          <mat-label>E-Mail Adresse</mat-label>
          <input matInput type="email" placeholder="E-Mail Adresse" formControlName="email" autocomplete="off" />
          <mat-error *ngIf="isControlHasError('email','required')">
            <strong>erforderlich</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('email','email')">
            <strong>Ungültiges Format der Adresse</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('email','minLength')">
            <strong>so kurz? </strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('email','maxLength')">
            <strong>Maximal 100 Zeichen!</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <!--begin::Action-->

      <div class="app-login__actions">
        <button type="button" routerLink="/auth/login" [disabled]="(isLoading$ | async) === true"
          id="app_login_signup_cancel" class="btn btn-secondary btn-elevate app-login__btn-secondary">Zurück zum
          Login</button>
        <button [disabled]="form.invalid" type="submit" formtarget="form" id="app_login_signin_submit"
          class="btn btn-primary btn-elevate app-login__btn-primary"
          [ngClass]="{'app-spinner app-spinner--right app-spinner--md app-spinner--light': (isLoading$ | async) === true }">
          Passwort zusenden
        </button>
      </div>
      <!--end::Action-->
    </form>
  </div>
</div>
