<div class="row">
  <div class="col-lg-3">
    <birthday-list type="seniors"></birthday-list>
  </div>

  <div class="col-lg-3">
    <app-portlet>
      <app-portlet-header title="Neue AH-Mitglieder"></app-portlet-header>
      <app-portlet-body>
        <ng-container *ngIf="latestSignUps$ | async as latestSignUps">
          <ul class="list-group">
            <ng-container *ngFor="let senior of latestSignUps">
              <li *ngIf="senior.entryDate" class="list-group-item">
                <a [routerLink]="['/seniors/detail', senior.id]" class="d-flex justify-content-between">
                  <span>{{senior.lastName}} {{senior.firstName}}</span>
                  <span class="font-weight-bold">
                    {{senior.entryDate | date: 'mediumDate'}}
                  </span>
                </a>
              </li>
            </ng-container>
          </ul>
        </ng-container>
      </app-portlet-body>
    </app-portlet>
  </div>

  <div class="col-lg-6">
    <app-portlet>
      <app-portlet-header title="Ehrenmitglieder der AH"></app-portlet-header>
      <app-portlet-body>
        <ng-container *ngIf="honoraryList$ | async as honoraryList">

          <app-alert *ngIf="!honoraryList.length" type="info" [showCloseButton]="false">
            <p>Es wurden noch keine Ehrenmitglieder der AH ernannt.</p>
          </app-alert>

          <ul class="list-group d-flex flex-row flex-wrap">
            <ng-container *ngFor="let honorary of honoraryList | orderBy: ['lastName', 'firstName']">
              <li class="list-group-item w-50">
                <a [routerLink]="['/seniors/detail', honorary.id]">
                  {{honorary.lastName}} {{honorary.firstName}}
                </a>
              </li>
            </ng-container>
          </ul>
        </ng-container>
      </app-portlet-body>
    </app-portlet>
  </div>

  <div class="col-lg-12">
    <app-portlet>
      <app-portlet-header icon="fa fa-chart-area" title="AH-Statistik">
        <ng-container portletTools>
          <button (click)="showDetailedStats('ah')" class="btn btn-primary">
            <i class="fas fa-binoculars" aria-hidden="true"></i>
            Detailierte Statistik
          </button>
        </ng-container>
      </app-portlet-header>
      <app-portlet-body>
        <ng-container *ngIf="statistics$ | async as statistics; else loadingTemplate">
          <app-chart [data]="statistics.datasets" [options]="chartOptions"></app-chart>
        </ng-container>
      </app-portlet-body>
    </app-portlet>
  </div>

</div>

<ng-template #loadingTemplate>
  <div class="row">
    <div class="col-lg-12">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
  </div>
</ng-template>
