<div class="app-portlet">
  <div class="app-portlet__head app-portlet__head__custom">
    <div class="app-portlet__head-label">
      <h3 class="app-portlet__head-title">Vorhandene Dateien</h3>
    </div>
  </div>
  <div class="app-portlet__body">
    <div class="grid-container">
      <div class="content">
        <!-- <app-media-list [allowUpload]="data.allowUpload" infiniteScrollContainer=".grid-container .content"
          mode="select" (onSelect)="onSelect($event)" (onDeSelect)="onDeSelect($event)">
        </app-media-list>-->
        <h1 class="text-danger">ToDo</h1>
      </div>
    </div>
  </div>

  <div class="app-portlet__foot app-portlet__no-border app-portlet__foot--fit text-right">
    <div class="app-form__actions app-form__actions--sm p-3">
      <button type="button" class="btn btn-secondary" (click)="close()">
        Abbrechen
      </button>&nbsp;
      <button type="button" class="btn btn-primary" (click)="save()">Speichern
      </button>
    </div>
  </div>

</div>
